body{
  font-family: 'Roboto', sans-serif;
  line-height:1;
  font-size: 1em;
  color: #363636;
  padding: 10px;
  margin: 0;
}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}

.info-linha {
  width: 100%;
  float: left;
}
.info-direita,
.info-esquerda {
  width: 48%;
  padding: 4px 8px;
}

.info-esquerda {
  float: left;
  text-align: left;
}
.info-direita {
  float: right;
  text-align: right;
}

.codigo {
  font-size: 14px;
  border: 1px solid #ccc;
  margin: 10px 0;
}
.titulo {
  margin: 5px 0;
  font-weight: 800;
}

@media screen and (min-width: 600px) {
  .tela {
    width: 800px;
    margin: auto;
  }
}